.vscode/
.idea/
.DS_Store/
resource/bilder_lables/
resource/checkpoints/*.h5
resource/tensorboard/train/
resource/tensorboard/validation/
resource/images/
resource/*.npz
src/__pycache__/
resource/model.h5